.Button {
  height: 50px;
  background-color: #d4af37;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.Button:hover {
  background-color: #f7d976;
}