#home {
  text-align: center;
  /* margin-left: 50px;
  margin-right: 50px; */
  font-family: Helvetica;
  overflow: hidden;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
}
