.header {
  margin-top: 180px;
  align-items: center;
  // height: 100vh; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-wrapper {
  flex-direction: column;
  display: flex;
  margin-bottom: 60px;
}

.header-text {
  font-weight: 700;
  font-size: 50px;
  width: 600px;
  align-items: left;
  text-align: left;
}

.subtext {
  margin-top: 10px;
  text-align: left;
  width: 500px;
  margin-bottom: 20px;
}

.phone-image {
  width: 300px;
}