.ConfigTrade {
  margin: 15px;
  width: 300px;
  height: 400px;
  background-color:#fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerboiyo {
  margin: 0px;
  width: 100%;
  padding-bottom: 15px;
  font-weight: 700;
  color: #797979;
}

.subtextboiyo {
  font-size: 20px;
  margin: 0px;
  width: fit-content;
}